/* colors:
989788 56%
A06A98 52%
6F5060 37%
A78682 58%
E7EBC5 85% */

html {
    background-color: #e8e8d0;
    text-align: center;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #989788;
    border-radius: 30px;
    width: 90vw;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.logo {
    height: 80%;
    padding-left: 5%;
}

.logo:hover {
    cursor: grabbing;
}

.search {
    margin-right: 15px;
}

h3 {
    display: inline-block
}

.mem-main-container {
    background-color: #989788;
    border-radius: 30px;
    margin: 0 auto;
    width: 90vw;
    height: 86vh auto;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}


/* @media (max-width: 980px) {
    .mem-main-container {
        flex-direction: column;
    }
    .canvas {
        height: 60%;
    }
}

@media (min-width: 980px) {
    .mem-main-container {
        flex-direction: row;
    }
} */

.canvas-container {
    display: block;
    margin: 2%;
    width: 60%;
    /* height: 90%; */
    /* height: 80rem; */
}

canvas {
    /* THIS maybe instead of render, the resize! */
    border-color: #6F5060;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    display: block;
    /* padding-top: 50px; */
    /* margin: 50px 50px auto; */
    /* outline: 1px solid black; */
    background-color: white;
}

.mem-menu-container {
    margin: 2%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    background-color: #51344D;
    border: 1px solid black;
    gap: 4%;
}

.button-container {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5px;
}


/* //what is it? */

label {
    width: 50%;
}

.gallery-container {
    background-color: #989788;
    border-radius: 30px;
    margin: 0 auto;
    width: 90vw;
    height: 86vh;
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
}

.grid-container {
    display: grid;
    /* check maybe auto-fill */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 150px;
    /* grid-template-rows: repeat(5, 100px); */
    /* row-gap: 10px; */
    /* background-color: rgb(163, 199, 255); */
    width: 90%;
    margin: 20px auto;
    gap: 10px;
}

.item {
    /* 50% 50% centers image in div */
    max-width: 150px;
    max-height: 150px;
    display: block;
}

.line {
    /* display: inline-block; */
    padding-top: 10px;
    margin: auto;
}

.main-btns {
    flex-grow: 1;
}

.line-colors-btns {
    padding-top: 6px;
}

img {
    max-width: 100%;
    height: auto;
    /* border-radius: 5%; */
}


/* ===================helpers============= */

.focus {
    background-color: bisque;
}

.hidden {
    display: none;
}


/* +++++++++++++++++++++++++++++++++++ BTN ++++++++++++++++ */

.btn {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: #A78682;
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(255, 255, 255) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
    transition: background-color .24s, box-shadow .24s;
}

.main-menu-btns {
    padding-right: 35%;
}

.main-menu-btns>.btn {
    margin-left: 10px;
    margin-right: 10px;
}

.main-btns>.btn {
    margin: 4px auto;
}

.btn:hover {
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, #A78682 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 3px 9px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
}

textarea:focus,
input:focus {
    color: hsl(0, 0%, 100%);
    outline: none;
}

input {
    margin: 0px 3px 0px 3px;
    padding: 2px;
    font-size: 14px;
    border-width: 1px;
    background-color: #A78682;
    color: #ffffff;
    border-style: solid;
    border-radius: 0px;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1;
}