/* colors:
989788 56%
A06A98 52%
6F5060 37%
A78682 58%
E7EBC5 85% */

:root {
    --clr1: #989788;
    --clr2: #A06A98;
    --clr3: #6F5060;
    --clr4: #A78682;
    --clr5: #E7EBC5;
    --clr6: #51344D;
}